// Place all the styles related to the manage::Charts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* ------------------ form widget --------------------*/
.inline_select {
  display: inline-block;
  .selector { margin-bottom: 10px; }
  #uniform-application { width: 200px; }
}

/* ------------------ daily view flot widget --------------------*/
#count_holder { margin-top: 20px; height: 200px; }
#money_holder { margin-top: 20px; height: 200px; }
/* ------------------ channel view flot widget --------------------*/
#channel_devices_holder { margin-top: 20px; height: 200px; }
#channel_orders_holder { margin-top: 20px; height: 200px; }

#channel_devices_holder_spreader { margin-top: 20px; height: 200px; }
// #channel_view .input-append { width: 155px; }
#channel_data .input-append { width: 155px; margin-bottom: 0; }
#channel_data .input-append input { margin-bottom: 0; }

#channel-detail-search-wrap .inline_submit input { margin-bottom: 20px; }
#channel-detail-search-wrap a.btn { margin-bottom: 20px; padding-left: 5px; }
/* ------------------ income view --------------------*/
