.page-header
  %h4 怎样嵌入爱火联盟广告？
.answer_content
  %ol
    %li 注册后，添加应用，填写应用基本信息
    %li 下载SDK，按照说明文档嵌入代码或SDK（怎样嵌入SDK广告代码，请下载最新版SDK压缩包，压缩包中已包含）
    %li 调试完毕，将已嵌入爱火SDK广告的APP应用包提交到后台等待审核
    %li 已嵌SDK应用包审核通过后，即可接受正式广告，赚取广告收入

.page-header
  %h4 怎样查看广告数据和佣金收入？
.answer_content
  %p 开发者用户可以登录爱火后台，进入“统计报表”查看“每日统计”详情，可查看在某段时期内广告的展示次数、点击次数和点击率等。对于爱火联盟独创的购物提成模式，更可以详细观测每天下单，成交的订单数目，以及预计收入和实际收入。
.page-header
  %h4 佣金如何提现？
.answer_content
  %p 爱火联盟实行"满100元"按周结算政策，未提供信息服务费发票渠道需要代扣5.5%个人所得税。每周三，开发者可做出提现申请；我们将对结算申请进行审核并于周四进行支付，周四当天即可查收。每位开发者仅能有一份正在处理的结算单。
.page-header
  %h4 爱火联盟如何保障真实性？会不会扣量？
.answer_content
  %p 开发者，最怕的就是联盟扣量。发布者，最怕的就是联盟作假。爱火联盟作为新兴的移动广告平台能为您提供实时的数据。我们会实时为您提供每一笔订单的记录，每份订单的电话，运单号。如果订单失败，我们会给您提供详细的报告。开发者和广告主可以自助查询。不再担心扣量。
