.page-header
  %h4 爱火移动广告平台是什么？
.answer_content
  %p 爱火是国内新兴的移动广告平台，致力于为为应用开发者创造公正和优质的广告收益。在这里，广告主可以轻松地创建自己的精准广告，平台将会主动地将广告推送至成千上万安装在用户手机上的应用程序中；开发者则只需要提交自己的应用程序信息，安装平台提供的广告SDK代码，并努力将自己的应用程序推广出去，即可获得收益。
.page-header
  %h4 加入“爱火”需要什么条件？
.answer_content
  %p 对于广告主来说，要求是愿意在本平台付费投放广告的个人或企业；对于开发者来说，要求是愿意提供无任何违法、色情、反动内容的应用程序的个人或企业。
.page-header
  %h4 如何成为广告主？
.answer_content
  %p 目前我们仅接受相对优质的广告资源，如果想在爱火移动广告平台进行产品营销和品牌推广服务请联系专职客服。我们有专员为您提供服务和咨询。QQ：20108363
.page-header
  %h4 如何成为“爱火”用户？
.answer_content
  %p
    进入“爱火”首页（
    = link_to('http://www.aihuo360.com/', '/')
    ），点击进入注册页面，认真阅读平台的服务协议，按照相关提示信息完成资料录入后即可注册成为“爱火”用户。
.page-header
  %h4 忘记密码怎么办？
.answer_content
  %p 进入“爱火”登录页面，点击“忘记密码”进入相应页面，填写帐号邮箱后，系统将自动发送一个新的随机密码至该邮箱，用新密码登录后请到用户的“修改密码”页面修改新密码。
.page-header
  %h4 常见无法登录的原因
.answer_content
  %ol
    %li 请检查您邮箱地址和密码是否被正确输入了，您可以清空邮箱和密码，然后尝试重新输入邮箱和密码进行再次登录
    %li 密码输入需要区分大小写，请检查您是否开启了大写锁定（Caps Lock）
